.partiContainer {
  display: flex;
  flex-direction: column; }

.partiList {
  height: 200px;
  overflow-y: scroll; }

.partiNavList {
  list-style-type: none;
  padding: 0;
  margin: auto; }

.partiNavList li {
  display: inline-block;
  padding: 0 .2rem;
  font-size: 90%; }

.navButton {
  width: 3rem;
  height: 1.5rem;
  outline: none;
  font-size: 0.9rem;
  font-weight: 600; }

.navButton.all {
  background-color: #a4d2ff; }

.navButton.decline {
  background-color: #ffab91; }

.navButton.accept {
  background-color: #a5d6a7; }

.navButton.later {
  background-color: #fff59d; }
