@import "../common.css";

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgColorDark);
}

.headerContent {
    display: flex;
    padding: 0.5rem;
}

.userIcon {
    outline: none;
    width: 3rem;
    height: 3rem;
}

.userIcon:hover {
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #ffc900;
}

