:root {
    --primaryColor: #ffecb3;
    --bgColorDark: #cbba83;
    --bgColorLight: #ffffe5;
    --s-primaryColor: #c8e6c9;
    --s-bgColorDark: #97b498;
    --s-bgColorLight: #fbfffc;

    --textColor: #000000;
    --s-textColor: #000000;
}

body {
    background-color: #F5F5F6;
}
