
.tooltipContainer {
  position: absolute;
  background-color: black;
  padding: 0 0.7rem;
  border-radius: 7px;
  height: 1.4rem;
}

.tooltipText {
  color: white;
  display: inline;
  text-align: center;
}
