@import "../../common.css";

.actions-container {

}

.actions-container ul {
    padding: 0;
    list-style: none;
}

.action-button {
    width: 90%;
    outline: none;
    padding: 5px;
    margin: 3px;
    font-size: 1rem;
    text-transform: uppercase;
}

.action-button:hover {
    cursor: pointer;
}

.action-button.decline {
    background-color: #ffab91;
}

.action-button.accept {
    background-color: #a5d6a7;
}

.action-button.later {
    background-color: #fff59d;
}

