@import '../common.css';

.sideContainer {
    --aside-width: 30%;
}

.sideContainer {
    width: var(--aside-width);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--s-bgColorLight);
    -webkit-transition-duration: 0.4s;
    transition-duration: .5s;
}

@media only screen and (max-width: 620px) {
    .sideContainer {
        margin-left: calc(var(--aside-width) * -1);
    }
}
