.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; }

.contentContainer {
  display: flex;
  height: 100%;
  max-width: 1024px; }

@media only screen and (min-width: 1024px) {
  .contentContainer {
    width: 100%;
    margin: auto; } }

::-webkit-scrollbar {
  width: 1em; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }
