@import "../common.css";

.navButtonContainer {
    width: 100%;
}

.navButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--textColor);
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    width: 100%;
    border-left: 1px solid white;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s

}
.navButton:first-child {
    border: none;
}

.navButton:hover {
    background-color: rgba(254, 255, 255, 0.5);
    cursor: pointer;
}

.navContainer {
    display: flex;
    justify-content: space-around;
    background-color: var(--bgColorLight);
}

.navButtonActive {
    width: 98%;
    height: .2rem;
    margin-top: -.2rem;
    background-color: #ffc900;
}
